# Ignore myenv directory
myenv/

# Ignore .idea
.idea/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore node modules
node_modules/